MVC_STUDENT_INFO_ANGULARJS/Content/* linguist-vendored
MVC_STUDENT_INFO_ANGULARJS/Scripts/* linguist-vendored

angular.min.js linguist-vendored

*.sql linguist-detectable=true

studentApp.js linguist-vendored=false
studentController.js linguist-vendored=false
studentService.js linguist-vendored=false

studentApp.js linguist-language=Angular
studentController.js linguist-language=Angular
studentService.js linguist-language=Anuglar


