MVC_STUDENT_INFO_ANGULARJS/Content/* linguist-vendored
# MVC_STUDENT_INFO_ANGULARJS/Scripts/* linguist-vendored

MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/angular.min.js linguist-vendored

MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/studentApp.js linguist-vendored=false
MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/studentController.js linguist-vendored=false
MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/studentService.js linguist-vendored=false

MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/studentApp.js linguist-language=AngularJS
MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/studentController.js linguist-language=AngularJS
MVC_STUDENT_INFO_ANGULARJS/Scripts/AngularJS/studentService.js linguist-language=AnuglarJS


